.projects {
  max-width: 1400px;
  margin: 0 auto 80px;
  padding-top: 80px;

  @media (max-width: 1440px) {
    max-width: 680px;
  }
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 720px) {
    padding: 0;
  }
}

.projects__item {
  position: relative;
  display: flex;
  flex-basis: 680px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  margin-bottom: 40px;

  @media (max-width: 1440px) {
    flex-basis: 100%;
  }

  &:hover {
    .projects__item-back {
      transform: rotateY(0);
    }

    .projects__item-front {
      transform: rotateY(-180deg);
    }
  }
}

.projects__item-back, .projects__item-front {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out;
}

.projects__item-front {
  z-index: 100;
  transform: rotateY(0);

  .project__item-title {
    margin-bottom: 39px;
  }
}

.projects__item-back {
  position: relative;
  transform: rotateY(180deg);

  @media (max-width: 720px) {
    padding: 0 16px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
  }
}


.project__item-title {
  margin: 0 0 20px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;

  @media (max-width: 720px) {
    font-size: 24px;
  }
}

.project__item-text {
  max-width: 360px;
  height: 71px;
  margin: 0 0 20px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}