mixin global-work
    section.global-work
        h5.global-work__title Global work
        .global-work__content
            p.global-work__text
                |Utilizing goods from local entrepreneurs
                br
                |to build resilient communities
            include ../button/button
            +button('Contact us', 'button', 'outline', 'global-work')