extends ../layout

block content
    include ../../components/header/header
    +header
    include ../../components/featured/featured
    +featured
    include ../../components/projects/projects
    +projects
    include ../../components/about/about
    +about
    include ../../components/global-work/global-work
    +global-work
    include ../../components/bottom-blocks/bottom-blocks
    +bottom-blocks
    include ../../components/action-bottom/action-bottom
    +action-bottom
    include ../../components/footer/footer
    +footer
    include ../../components/form/form
    +form
