mixin action-bottom
    .action-bottom
        .action-bottom__wrap
            p.action-bottom__text Maximize your impact today
            include ../button/button
            +button('Get started', 'button', 'outline', 'action-bottom')