.header {
  position: relative;
  height: 100vh;
  background: url('./header-bg.png') center center no-repeat;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .4);
  }
}

.header__wrap {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__content {
  text-align: center;
}

.header__title {
  margin: 0 0 28px;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Gooddler', sans-serif;

  @media (max-width: 720px) {
    font-size: 30px;
  }
}

.header__subtitle {
  margin: 0 0 49px;
  color: #fff;
  font-weight: 200;
  font-size: 40px;

  @media (max-width: 720px) {
    font-size: 30px;
  }
}

.header__plane {
  position: absolute;
  top: 26%;
  right: 5%;

  @media (max-width: 720px) {
    top: 30%;
    width: 150px;
  }
}

.header__arrow-div {
  position: absolute;
  bottom: -16px;
  left: 50%;
  padding: 16px;
  transform: translate(-50%, -50%);

  &:hover {

    .header__arrow {

      #fill {
        fill: #00A6E1;
      }
    }
  }
}



// Mixes

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__button {

}